/* ----------------------------*/
/*** VARIABLES
/* ----------------------------*/
/* ----------------------------*/
/*** IMPORTS
/* ----------------------------*/
/* Nav */
.nav {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  padding-top: 6px;
  visibility: hidden;
  opacity: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  z-index: 1;
}

.nav.is-shown {
  visibility: visible;
  opacity: 1;
}

.nav-button {
  display: block;
  width: 100%;
  cursor: pointer;
  outline: none;
  color: #434343;
  display: block;
  padding: 0 12px 0 24px;
  line-height: 56px;
  border: 0;
  background: transparent;
  text-align: left;
}

.nav-button .material-icons {
  color: #60dd4d;
}

.nav-button:hover,
.nav-button:focus:not(.is-selected) {
  background-color: #eee;
}

.nav-button.is-selected {
  background-color: #60dd4d;
}

.nav-button.is-selected {
  color: #fff;
}

.nav-button.is-selected .material-icons {
  color: #fff;
}

/* Section ------------------ */
.section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  font-size: 13px;
  /* Hide */
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  -webkit-transition: visibility 0s .12s linear , opacity .12s ease-in, -webkit-transform .12s ease-in;
  transition: visibility 0s .12s linear , opacity .12s ease-in, -webkit-transform .12s ease-in;
  transition: visibility 0s .12s linear , opacity .12s ease-in, transform .12s ease-in;
  transition: visibility 0s .12s linear , opacity .12s ease-in, transform .12s ease-in , -webkit-transform .12s ease-in;
}

.section.is-shown {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: visibility 0s 0s linear , opacity .36s ease-out, -webkit-transform .36s ease-out;
  transition: visibility 0s 0s linear , opacity .36s ease-out, -webkit-transform .36s ease-out;
  transition: visibility 0s 0s linear , opacity .36s ease-out, transform .36s ease-out;
  transition: visibility 0s 0s linear , opacity .36s ease-out, transform .36s ease-out , -webkit-transform .36s ease-out;
}

/* ----------------------------*/
/*** GENERAL
/* ----------------------------*/
html {
  overflow: hidden;
  border-radius: 3px;
  overflow: hidden;
}

.progress {
  top: 32px;
  opacity: 0;
  position: absolute;
  margin: 0;
  border-radius: 0;
}

.row {
  margin-bottom: 0;
}

.show {
  opacity: 1;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.content {
  position: relative;
  width: 100%;
  height: 100vh;
}

h1 {
  margin: 12px 24px 24px 24px;
  text-align: left;
}

h1 img {
  width: 150px;
}

.btn,
.btn-large {
  background-color: #4787f3;
  color: #fff;
}

.btn:hover,
.btn-large:hover {
  background-color: #4787f3;
  opacity: 0.8;
}

.btn:active, .btn:focus,
.btn-large:active,
.btn-large:focus {
  background-color: #4787f3;
}

.title-bar {
  height: 6px;
  background-color: #60dd4d;
}

footer {
  padding-right: 12px;
  border-top: 1px solid #ddd;
  clear: both;
}

footer .btn,
footer .btn-large {
  margin: 12px 0 0 18px;
}

/* ----------------------------*/
/*** TITLE BAR https://github.com/sidneys/electron-titlebar-windows
/* ----------------------------*/
.titlebar {
  display: block;
  position: relative;
  height: 32px;
  padding: 0;
  background-color: #434343;
}

.titlebar.draggable {
  -webkit-app-region: drag;
}

.titlebar-controls {
  float: right;
  text-align: left;
}

.titlebar:after,
.titlebar-controls:after {
  content: ' ';
  display: table;
  clear: both;
}

.titlebar-minimize,
.titlebar-resize,
.titlebar-close {
  float: left;
  width: 45px;
  height: 32px;
  margin: 0;
  text-align: center;
  line-height: 32px;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.titlebar.draggable .titlebar-minimize,
.titlebar.draggable .titlebar-resize,
.titlebar.draggable .titlebar-close {
  -webkit-app-region: no-drag;
}

.titlebar-minimize svg,
.titlebar-resize svg.maximize-svg,
.titlebar-resize svg.fullscreen-svg,
.titlebar-close svg {
  width: 10px;
  height: 10px;
  shape-rendering: crispEdges;
}

.titlebar-minimize svg rect,
.titlebar-minimize svg polygon,
.titlebar-resize svg.maximize-svg rect,
.titlebar-resize svg.maximize-svg polygon,
.titlebar-resize svg.fullscreen-svg rect,
.titlebar-resize svg.fullscreen-svg polygon,
.titlebar-close svg rect,
.titlebar-close svg polygon {
  fill: #9e9e9e;
}

.titlebar-resize svg.fullscreen-svg {
  fill: #9e9e9e;
}

.titlebar-resize svg.maximize-svg > path {
  fill: #bbb;
}

.titlebar-close svg polygon {
  -webkit-transition: fill .2s;
  transition: fill .2s;
}

.titlebar:not(.fullscreen) svg.maximize-svg {
  display: none;
}

.titlebar.fullscreen svg.fullscreen-svg {
  display: none;
}

.titlebar-minimize:hover,
.titlebar-resize:hover,
.titlebar-fullscreen:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.titlebar-close:hover {
  background-color: rgba(232, 17, 35, 0.9);
}

.titlebar-close:hover svg polygon {
  fill: white;
}

/* ------------------------------------*/
/*** ANIMATIONS
/* ------------------------------------*/
.rotation {
  -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

.blink {
  -webkit-animation: blink 1s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

/*-----------------------------*/
/*** List files and folders
/*----------------------------*/
.wrapper-directory {
  color: #434343;
}

.wrapper-directory .header {
  padding: 10px 15px 12px 0;
  border-bottom: 1px solid #ddd;
}

.wrapper-directory .header li {
  padding-left: 10px;
  float: left;
}

.wrapper-directory ul {
  padding: 0;
  margin: 0;
}

.wrapper-directory .name {
  width: 58%;
}

.wrapper-directory .modified {
  width: 25%;
}

.wrapper-directory .size {
  width: 15%;
}

.wrapper-directory .local,
.wrapper-directory .remote {
  width: calc( 50% - 50px);
}

.wrapper-directory .actions {
  width: 100px;
}

.wrapper-directory.two-cols .local,
.wrapper-directory.two-cols .remote {
  width: 50%;
}

.wrapper-directory.two-cols .remote {
  padding-left: 17px;
}

.wrapper-directory.two-cols .list-files .local,
.wrapper-directory.two-cols .list-files .remote {
  width: 100%;
}

.wrapper-directory.two-cols .list-files .local,
.wrapper-directory.two-cols .list-files .remote {
  padding-left: 0;
}

.wrapper-directory.two-cols .list-files.remote {
  padding-left: 0;
}

.list-files {
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 150px);
}

.list-files .icon {
  float: left;
  width: 22px;
  vertical-align: top;
  margin-right: 10px;
  color: #60dd4d;
}

.list-files .icon.material-icons {
  padding: 0 2px;
}

.list-files .name,
.list-files .modified,
.list-files .size,
.list-files .status,
.list-files .local,
.list-files .remote,
.list-files .actions {
  float: left;
  vertical-align: top;
  padding-left: 10px;
}

.list-files .modified,
.list-files .size {
  margin-top: 3px;
}

.list-files .name .directory,
.list-files .local .directory,
.list-files .remote .directory {
  display: block;
  color: #9e9e9e;
  font-size: 11px;
}

.list-files .directory {
  margin: 0;
}

.list-files .directory li {
  height: 47px;
  border-bottom: 1px solid #eee;
  padding-top: 12px;
  line-height: 14px;
  opacity: 1;
}

.list-files .directory li:last-child {
  border: 0;
}

.list-files .directory li .item-name {
  display: inline-block;
  vertical-align: top;
  margin-top: 3px;
}

.list-files .directory li.item-select:hover {
  background-color: #f7f7f7;
}

.list-files .directory li.item-select.selected {
  background-color: #4787f3;
}

.list-files .directory li.item-select.selected a {
  color: #fff;
}

.list-files .directory li.remove {
  height: 0;
  opacity: 0;
  border-bottom: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.list-files .directory li .actions a {
  color: #4787f3;
}

.list-files .directory li .actions .play {
  display: inline-block;
}

.list-files .directory li .actions .pause {
  display: none;
}

.list-files .directory li .actions .playing .play {
  display: none;
}

.list-files .directory li .actions .playing .pause {
  display: inline-block;
}

.list-files .directory li .actions .material-icons {
  margin-right: 4px;
}

.list-files .directory li p {
  margin-left: 10px;
  font-style: oblique;
}

.list-files .directory a {
  color: #434343;
  line-height: 14px;
}

.list-files .directory a:hover {
  cursor: pointer;
  color: #4787f3;
}

.list-files.two-lines .icon {
  width: 25px;
}

.list-files.two-lines .icon.material-icons {
  margin-top: -3px;
  margin-right: 12px;
  font-size: 25px;
}

.list-files.two-lines .modified,
.list-files.two-lines .size {
  margin-top: 6px;
}

.list-files.two-lines .directory li {
  overflow: hidden;
  opacity: 1;
  height: 50px;
}

.list-files.two-lines .directory li .item-name {
  margin-top: -2px;
}

.list-files.two-lines .directory li.deleted {
  opacity: 0;
  height: 0;
  padding: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

/* ------------------------------------*/
/*** WELCOME
/* ------------------------------------*/
/* Welcome ------------------------ */
.modal {
  width: 100%;
  height: 100vh;
  max-height: none;
  border-radius: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  background-color: #fafafa;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s 0s linear , opacity .24s ease-out, -webkit-transform .24s ease-out;
  transition: visibility 0s 0s linear , opacity .24s ease-out, -webkit-transform .24s ease-out;
  transition: visibility 0s 0s linear , opacity .24s ease-out, transform .24s ease-out;
  transition: visibility 0s 0s linear , opacity .24s ease-out, transform .24s ease-out , -webkit-transform .24s ease-out;
}

.modal.is-shown {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: visibility 0s 0s linear , opacity .24s ease-out, -webkit-transform .24s ease-out;
  transition: visibility 0s 0s linear , opacity .24s ease-out, -webkit-transform .24s ease-out;
  transition: visibility 0s 0s linear , opacity .24s ease-out, transform .24s ease-out;
  transition: visibility 0s 0s linear , opacity .24s ease-out, transform .24s ease-out , -webkit-transform .24s ease-out;
}

.modal.is-shown .modal-wrapper {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: visibility 0s 0s linear , opacity .24s ease-out, -webkit-transform .24s ease-out;
  transition: visibility 0s 0s linear , opacity .24s ease-out, -webkit-transform .24s ease-out;
  transition: visibility 0s 0s linear , opacity .24s ease-out, transform .24s ease-out;
  transition: visibility 0s 0s linear , opacity .24s ease-out, transform .24s ease-out , -webkit-transform .24s ease-out;
}

.modal-wrapper {
  overflow: auto;
  width: 100%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: visibility 0s .12s linear , opacity .12s ease-in, -webkit-transform .12s ease-in;
  transition: visibility 0s .12s linear , opacity .12s ease-in, -webkit-transform .12s ease-in;
  transition: visibility 0s .12s linear , opacity .12s ease-in, transform .12s ease-in;
  transition: visibility 0s .12s linear , opacity .12s ease-in, transform .12s ease-in , -webkit-transform .12s ease-in;
}

.authorization {
  padding: 12px;
}

.authorization header {
  padding-top: 90px;
  text-align: center;
}

.authorization header img {
  margin-bottom: 30px;
  width: 128px;
}

.authorization header,
.authorization main {
  margin: 0 auto;
  width: 400px;
}

.authorization .button-connect {
  padding: 30px;
  text-align: center;
}

.authorization footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

/*-------------------------------------*/
/*** SELECT FOLDERS
/* ------------------------------------*/
.select-folders .list-files {
  float: left;
}

.select-folders .list-files .name {
  width: 100%;
}

.select-folders .selected-folders {
  width: calc(100% - 310px);
  padding: 16px 0 16px 10px;
  float: left;
}

.select-folders .selected-folders .local,
.select-folders .selected-folders .remote {
  width: 50%;
  float: left;
}

.select-folders .selected-folders h2 {
  margin: 0;
  font-size: 1em;
}

.select-folders .selected-folders .infos,
.select-folders .selected-folders .direction {
  float: left;
}

.select-folders .selected-folders .infos {
  width: calc(100% - 50px);
}

.select-folders .selected-folders .direction {
  padding-left: 12px;
}

.select-folders .selected-folders .material-icons {
  color: #60dd4d;
}

/* ------------------------------------*/
/*** LIVE SYNC
/* ------------------------------------*/
.live-sync .wrapper-directory .name {
  width: 50%;
}

.live-sync .wrapper-directory .modified {
  width: 25%;
}

.live-sync .wrapper-directory .size {
  width: 15%;
}

.live-sync .wrapper-directory .status {
  width: 8%;
}

.live-sync .wrapper-directory .status .material-icons {
  position: absolute;
  color: #4787f3;
}

.live-sync .wrapper-directory .status .done {
  color: #60dd4d;
}

/* ------------------------------------*/
/*** SPLASH SCREEN
/* ------------------------------------*/
.splash-screen {
  background-color: #60dd4d;
}

.splash-screen .splash-screen-wrapper {
  width: 100%;
}

.splash-screen .logo {
  width: 400px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 70px;
}

#circleG {
  width: 90px;
  margin: auto;
}

.circleG {
  background-color: white;
  float: left;
  height: 15px;
  margin-left: 12px;
  width: 15px;
  animation-name: bounce_circleG;
  -o-animation-name: bounce_circleG;
  -ms-animation-name: bounce_circleG;
  -webkit-animation-name: bounce_circleG;
  -moz-animation-name: bounce_circleG;
  animation-duration: 2.24s;
  -o-animation-duration: 2.24s;
  -ms-animation-duration: 2.24s;
  -webkit-animation-duration: 2.24s;
  -moz-animation-duration: 2.24s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

#circleG_1 {
  animation-delay: 0.45s;
  -o-animation-delay: 0.45s;
  -ms-animation-delay: 0.45s;
  -webkit-animation-delay: 0.45s;
  -moz-animation-delay: 0.45s;
}

#circleG_2 {
  animation-delay: 1.05s;
  -o-animation-delay: 1.05s;
  -ms-animation-delay: 1.05s;
  -webkit-animation-delay: 1.05s;
  -moz-animation-delay: 1.05s;
}

#circleG_3 {
  animation-delay: 1.35s;
  -o-animation-delay: 1.35s;
  -ms-animation-delay: 1.35s;
  -webkit-animation-delay: 1.35s;
  -moz-animation-delay: 1.35s;
}

@keyframes bounce_circleG {
  0% {
  }
  50% {
    background-color: #60dd4d;
  }
  100% {
  }
}

@-webkit-keyframes bounce_circleG {
  0% {
  }
  50% {
    background-color: #60dd4d;
  }
  100% {
  }
}
/*# sourceMappingURL=style.css.map */