/* ----------------------------*/
/*** VARIABLES
/* ----------------------------*/

$yellow: #ffd04c; 
$blue: #4787f3;
$green: #60dd4d;
$green-gdrive: #1ea362;
$gray: #434343;

/* ----------------------------*/
/*** IMPORTS
/* ----------------------------*/ 

@import "nav.scss";
@import "section.scss";

/* ----------------------------*/
/*** GENERAL
/* ----------------------------*/

.progress {
    opacity: 0;
    position: absolute;
    margin: 0;
    border-radius: 0;
}

.row {
    margin-bottom: 0;
}

.show {
    opacity: 1;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.content {
    position: relative;
    width: 100%;
    height: 100vh;
}

h1 {
    margin: 12px 24px 24px 24px;
    text-align: left;

    img {
        width: 200px;
        max-width: 80%;
    }
}

.btn,
.btn-large {
    background-color: $blue;
    color: #fff;

    &:hover {
        background-color: $blue;
        opacity: 0.8;
    }

    &:active,
    &:focus {
        background-color: $blue;
    }
}

.title-bar {
    height: 6px;
    background-color: $green;
}

footer {
    padding-right: 12px;
    border-top: 1px solid #ddd;
    clear: both;
    
    .btn,
    .btn-large {
        margin: 12px 0 0 18px;
    }

}


/* ------------------------------------*/
/*** ANIMATIONS
/* ------------------------------------*/

.rotation {
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

/*-----------------------------*/
/*** List files and folders
/*----------------------------*/

.wrapper-directory {
    color: $gray;

    ul {
        padding: 0;
        margin: 0;
    }

    .name {
        width: 58%;
    }

    .modified {
        width: 25%;
    }

    .size {
        width: 15%;
    }
    
}

.list-files {   
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100vh - 128px);

    .icon {
        display: inline-block;
        width: 22px;
        vertical-align: top;
        margin-right: 6px;
    }

    .name,
    .modified,
    .size {
        display: inline-block;
        vertical-align: top;
        padding-left: 10px;
    }

    .modified,
    .size {
        margin-top: 3px;
    }

    .directory {
        margin: 0;
    
        li{
            border-bottom: 1px solid #eee;
            padding: 12px 0 12px 0;
            line-height: 14px;

            &:last-child {
                border: 0;
            }

            .item-name {
                display: inline-block;
                vertical-align: top;
                margin-top: 3px;
            }

            &.item-select {

                &:hover {
                    background-color: #f7f7f7;
                }
        
                &.selected {
                    // background-color: #eee;
                    background-color: $blue;
    
                    a {
                        color: #fff;
                    }
                }
            }
    
        }
    
        a {
            color: $gray;
            line-height: 14px;
    
            &:hover {
                cursor: pointer;
                color: #4787f3;
            }
        }
        
    }

}

/* ------------------------------------*/
/*** WELCOME
/* ------------------------------------*/

/* Welcome ------------------------ */

.welcome {
    width: 100%;
    height: 100vh;
    max-height: none;
    border-radius: 0;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    background-color: hsl(0,0%,98%);
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }
  .welcome.is-shown {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: visibility 0s 0s linear , opacity .24s ease-out, transform .24s ease-out;
  }

  .welcome.is-shown .welcome-wrapper {
    transform: scale(1);
    transition: visibility 0s 0s linear , opacity .24s ease-out, transform .24s ease-out;
  }

  .welcome-wrapper {
      overflow: auto;
      width: 100%;
      transform: scale(1.1);
      transition: visibility 0s .12s linear , opacity .12s ease-in, transform .12s ease-in;
  }

/*-------------------------------------*/
/*** FOLDERS SYNC
/* ------------------------------------*/

.folders-sync {

    h2 {
        margin: 0;
        font-size: 16px;
    }

    li {
        border-bottom: 1px solid #eee;
        margin-top:16px;
        padding-bottom: 12px;

        &:last-child {
            border: none;;
        }
    }

    .header {

        .local {
            width: calc(50% - 14px);
        }
    }

    .local,
    .remote {
        width: calc(50% - 60px);
    }

    .local,
    .remote,
    .infos,
    .folder,
    .direction,
    .actions {
        display: inline-block;
        vertical-align: top;
    }

    .actions {
        margin-top: 12px;

        a {
            color: $blue;
        }
    }

    .infos {
        width: calc(100% - 60px);
        padding: 7px 6px 6px 6px;
    }

    .direction {

        .material-icons {
            font-size: 45px;
            color: #aaa;
        }
    }

    .icon {
        width: 42px;

        img {
            width: 42px;
        }
    }
}

/*-------------------------------------*/
/*** SELECT FOLDERS
/* ------------------------------------*/

.select-folders {

    .header {
        .local,
        .remote {
            width: 50%;
        }
    }

    .list-files {
        width: 50%;
        float: left;

        .name {
            width: 100%;
        }
    }

    .selected-folders {
        width: calc(100% - 290px);
        padding-top: 25px;
        float: left;

        .local,
        .remote {
            width: 50%;
            float: left;
        }

        h2 {
            margin: 0;
            font-size: 1em;
        }

        .infos,
        .direction {
            float: left;
        }

        .infos {
            width: calc(100% - 50px);
        }

        .direction {
            padding-left: 12px;
        }
    }
}

/* ------------------------------------*/
/*** LIVE SYNC
/* ------------------------------------*/

.live-sync {
    padding: 0;

    .active-syncs {
        height: calc(100vh - 62px);
        margin: 0;
        overflow-y: scroll;
        overflow-x: hidden;

        li {
            margin: 12px 0;
            padding-bottom: 12px;
            border-bottom: 1px solid #eee;
            
            &::after {
                content: '';
                clear: both;
                display: block;
            }

            &:last-child {
                border: none;
            }
        }

        .icon {
            width: 64px;
            margin-right: 8px
        }

        .name,
        .modified,
        .size {
            display: inline-block;
            width: calc(100% - 134px);
        }

        .name {
            margin: 4px 0 4px 0;
            font-size: 18px;
        }

        .status {
            margin-top: -28px;
            color: $blue;

            .material-icons {
                font-size: 32px;
            }
        }
    }
}