/* ----------------------------*/
/*** VARIABLES
/* ----------------------------*/

$yellow: #ffd04c; 
$blue: #4787f3;
$green: #60dd4d;
$green-gdrive: #1ea362;
$gray: #434343;
$gray-light: #9e9e9e;

/* ----------------------------*/
/*** IMPORTS
/* ----------------------------*/ 

@import "nav.scss";
@import "section.scss";

/* ----------------------------*/
/*** GENERAL
/* ----------------------------*/

html {
    overflow: hidden;
    border-radius: 3px;
    overflow: hidden;
}

.progress {
    top: 32px;
    opacity: 0;
    position: absolute;
    margin: 0;
    border-radius: 0;
}

.row {
    margin-bottom: 0;
}

.show {
    opacity: 1;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.content {
    position: relative;
    width: 100%;
    height: 100vh;
}

h1 {
    margin: 12px 24px 24px 24px;
    text-align: left;

    img {
        width: 150px;
    }
}

.btn,
.btn-large {
    background-color: $blue;
    color: #fff;

    &:hover {
        background-color: $blue;
        opacity: 0.8;
    }

    &:active,
    &:focus {
        background-color: $blue;
    }
}

.title-bar {
    height: 6px;
    background-color: $green;
}

footer {
    padding-right: 12px;
    border-top: 1px solid #ddd;
    clear: both;
    
    .btn,
    .btn-large {
        margin: 12px 0 0 18px;
    }

}


/* ----------------------------*/
/*** TITLE BAR https://github.com/sidneys/electron-titlebar-windows
/* ----------------------------*/

.titlebar {
    display: block;
    position: relative;
    height: 32px;
    padding: 0;
    background-color: $gray;
}

.titlebar.draggable {
    -webkit-app-region: drag;
}

.titlebar-controls {
    float: right;
    text-align: left;
}

.titlebar:after,
.titlebar-controls:after {
    content: ' ';
    display: table;
    clear: both;
}

.titlebar-minimize,
.titlebar-resize,
.titlebar-close {
    float: left;
    width: 45px;
    height: 32px;
    margin: 0;
    text-align: center;
    line-height: 32px;

    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -ms-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}

.titlebar.draggable .titlebar-minimize,
.titlebar.draggable .titlebar-resize,
.titlebar.draggable .titlebar-close {
    -webkit-app-region: no-drag;
}

.titlebar-minimize svg,
.titlebar-resize svg.maximize-svg,
.titlebar-resize svg.fullscreen-svg,
.titlebar-close svg {
    width: 10px;
    height: 10px;
    shape-rendering: crispEdges;
   
    rect,
    polygon {
        fill: $gray-light;
    }
}

.titlebar-resize{ 

    svg {

        &.fullscreen-svg {
            fill: $gray-light;
        }

        &.maximize-svg {

            > path {
                fill: #bbb;
            }
        }
    }

}


.titlebar-close svg polygon {
    -webkit-transition: fill .2s;
    -moz-transition: fill .2s;
    -ms-transition: fill .2s;
    -o-transition: fill .2s;
    transition: fill .2s;
}

.titlebar:not(.fullscreen) svg.maximize-svg {
    display: none;
}

.titlebar.fullscreen svg.fullscreen-svg {
    display: none;
}

.titlebar-minimize:hover,
.titlebar-resize:hover,
.titlebar-fullscreen:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.titlebar-close:hover {
    background-color: rgba(232, 17, 35, 0.9);
}

.titlebar-close:hover svg polygon {
    fill: rgba(255, 255, 255, 1);
}


/* ------------------------------------*/
/*** ANIMATIONS
/* ------------------------------------*/

.rotation {
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

.blink {
    -webkit-animation: blink 1s infinite;
}

@-webkit-keyframes blink {
    0%   {opacity: 1;}
    50%  {opacity: 0.1;}
    100% {opacity: 1;}
}

/*-----------------------------*/
/*** List files and folders
/*----------------------------*/

.wrapper-directory {
    color: $gray;

    .header {
        padding: 10px 15px 12px 0;
        border-bottom: 1px solid #ddd;

        li {
            padding-left: 10px;
            float: left;
        }
    }

    ul {
        padding: 0;
        margin: 0;
    }

    .name {
        width: 58%;
    }

    .modified {
        width: 25%;
    }

    .size {
        width: 15%;
    }

    .local,
    .remote {
        width: calc( 50% - 50px );
    }

    .actions {
        width: 100px;
    }

    &.two-cols {

        .local,
        .remote {
            width: 50%;
        }

        .remote {
            padding-left: 17px;
        }

        .list-files {   

            .local,
            .remote {
                width: 100%;
            }

            .local,
            .remote {
                padding-left: 0;
            }

            &.remote {
                padding-left: 0;
            }

        }
    }
    
}

.list-files {   
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100vh - 150px);

    .icon {
        float: left;
        width: 22px;
        vertical-align: top;
        margin-right: 10px;
        color: $green;

        &.material-icons {
            padding: 0 2px;
        }
    }

    .name,
    .modified,
    .size,
    .status,
    .local,
    .remote,
    .actions {
        float: left;
        vertical-align: top;
        padding-left: 10px;
    }

    .modified,
    .size {
        margin-top: 3px;
    }

    .name,
    .local,
    .remote {

        .directory {
            display: block;
            color: $gray-light;
            font-size: 11px;
        }
    }

    .directory {
        margin: 0;
    
        li {
            height: 47px;
            border-bottom: 1px solid #eee;
            padding-top: 12px;
            line-height: 14px;
            opacity: 1;

            &:last-child {
                border: 0;
            }

            .item-name {
                display: inline-block;
                vertical-align: top;
                margin-top: 3px;
            }

            &.item-select {

                &:hover {
                    background-color: #f7f7f7;
                }
        
                &.selected {
                    background-color: $blue;
    
                    a {
                        color: #fff;
                    }
                }
            }

            &.remove {
                height: 0;
                opacity: 0;
                border-bottom: 0;
                transition: all 0.5s;
            }

            .actions {

                a {
                    color: $blue;
                }
    
                .play {
                    display: inline-block;
                }
        
                .pause {
                    display: none;
                }
        
                .playing {
        
                    .play {
                        display: none;
                    }
        
                    .pause {
                        display: inline-block;
                    }
                }

                .material-icons {
                    margin-right: 4px;
                }

            }

            p {
                margin-left: 10px;
                font-style: oblique;
            }
        }
    
        a {
            color: $gray;
            line-height: 14px;
    
            &:hover {
                cursor: pointer;
                color: #4787f3;
            }
        }
        
    }

    &.two-lines {

        .icon {
            width: 25px;

            &.material-icons {
                margin-top: -3px;
                margin-right: 12px;
                font-size: 25px;
            }
        }

        .modified,
        .size {
            margin-top: 6px;
        }

        .directory {
        
            li {
                overflow: hidden;
                opacity: 1;
                height: 50px;

                .item-name {
                    margin-top: -2px;
                }

                &.deleted {
                    opacity: 0;
                    height: 0;
                    padding: 0;
                    transition: all 1s;
                }
            }
        }
    }

}

/* ------------------------------------*/
/*** WELCOME
/* ------------------------------------*/

/* Welcome ------------------------ */

.modal {
    width: 100%;
    height: 100vh;
    max-height: none;
    border-radius: 0;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    background-color: hsl(0,0%,98%);
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0s linear , opacity .24s ease-out, transform .24s ease-out;
}

.modal.is-shown {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: visibility 0s 0s linear , opacity .24s ease-out, transform .24s ease-out;
}

.modal.is-shown .modal-wrapper {
    transform: scale(1);
    transition: visibility 0s 0s linear , opacity .24s ease-out, transform .24s ease-out;
}

.modal-wrapper {
    overflow: auto;
    width: 100%;
    transform: scale(1.1);
    transition: visibility 0s .12s linear , opacity .12s ease-in, transform .12s ease-in;
}

.authorization {
    padding: 12px;

    header {
        padding-top: 90px;
        text-align: center;

        img {
            margin-bottom: 30px;
            width: 128px;
        }
    }

    header,
    main {
        margin: 0 auto;
        width: 400px;
    }

    .button-connect {
        padding: 30px;
        text-align: center;
    }

    footer {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
    }
}


/*-------------------------------------*/
/*** SELECT FOLDERS
/* ------------------------------------*/

.select-folders {

    .list-files {
        float: left;

        .name {
            width: 100%;
        }
    }

    .selected-folders {
        width: calc(100% - 310px);
        padding: 16px 0 16px 10px;
        float: left;

        .local,
        .remote {
            width: 50%;
            float: left;
        }

        h2 {
            margin: 0;
            font-size: 1em;
        }

        .infos,
        .direction {
            float: left;
        }

        .infos {
            width: calc(100% - 50px);
        }

        .direction {
            padding-left: 12px;
        }

        .material-icons {
            color: $green;
        }
    }
}

/* ------------------------------------*/
/*** LIVE SYNC
/* ------------------------------------*/

.live-sync {
    
    .wrapper-directory {

        .name {
            width: 50%;
        }
    
        .modified {
            width: 25%;
        }
    
        .size {
            width: 15%;
        }

        .status {
            width: 8%;

            .material-icons {
                position: absolute;
                color: $blue;
            }

            .done {
                color: $green;
            }
        }

    }
}

/* ------------------------------------*/
/*** SPLASH SCREEN
/* ------------------------------------*/

.splash-screen {
    background-color: $green;

    .splash-screen-wrapper {
        width: 100%;
    }

    .logo {
        display: block;
        margin: 0 auto;
        margin-top: 20%;
        margin-bottom: 100px;
    }
}

#circleG{
	width:146px;
	margin:auto;
}

.circleG{
	background-color:rgb(255,255,255);
	float:left;
	height:15px;
	margin-left:12px;
	width:15px;
	animation-name:bounce_circleG;
		-o-animation-name:bounce_circleG;
		-ms-animation-name:bounce_circleG;
		-webkit-animation-name:bounce_circleG;
		-moz-animation-name:bounce_circleG;
	animation-duration:2.24s;
		-o-animation-duration:2.24s;
		-ms-animation-duration:2.24s;
		-webkit-animation-duration:2.24s;
		-moz-animation-duration:2.24s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	border-radius:20px;
		-o-border-radius:20px;
		-ms-border-radius:20px;
		-webkit-border-radius:20px;
		-moz-border-radius:20px;
}

#circleG_1{
	animation-delay:0.45s;
		-o-animation-delay:0.45s;
		-ms-animation-delay:0.45s;
		-webkit-animation-delay:0.45s;
		-moz-animation-delay:0.45s;
}

#circleG_2{
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#circleG_3{
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}



@keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(96,221,77);
	}

	100%{}
}

@-o-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(96,221,77);
	}

	100%{}
}

@-ms-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(96,221,77);
	}

	100%{}
}

@-webkit-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(96,221,77);
	}

	100%{}
}

@-moz-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(96,221,77);
	}

	100%{}
}