/* ----------------------------*/
/*** VARIABLES
/* ----------------------------*/

$yellow: #ffd04c; 
$blue: #4787f3;
$green: #60dd4d;
$green-gdrive: #1ea362;
$gray: #434343;
$gray-light: #9e9e9e;

/* ----------------------------*/
/*** GENERAL
/* ----------------------------*/

html {
    overflow: hidden;
}

.progress {
    top: 0;
    opacity: 0;
    position: absolute;
    margin: 0;
    border-radius: 0;
}

.row {
    margin-bottom: 0;
}

.show {
    opacity: 1;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.content {
    position: relative;
    width: 100%;
    height: 100vh;
}

h1 {
    margin: 12px 24px 24px 24px;
    text-align: left;
}

.btn,
.btn-large {
    background-color: $blue;
    color: #fff;

    &:hover {
        background-color: $blue;
        opacity: 0.8;
    }

    &:active,
    &:focus {
        background-color: $blue;
    }
}

footer {
    padding-right: 12px;
    border-top: 1px solid #ddd;
    clear: both;
    
    .btn,
    .btn-large {
        margin: 12px 0 0 18px;
    }

}

.dropdown-content li>a, 
.dropdown-content li>span {
    color: $blue;
}

.select-wrapper input.select-dropdown:focus {
    border-color: $blue;
}

/* ----------------------------*/
/*** TITLE BAR https://github.com/sidneys/electron-titlebar-windows
/* ----------------------------*/

.titlebar {
    display: block;
    position: relative;
    height: 32px;
    padding: 0;
    background-color: $gray;
}

.titlebar.draggable {
    -webkit-app-region: drag;
}

.titlebar-controls {
    float: right;
    text-align: left;
}

.titlebar:after,
.titlebar-controls:after {
    content: ' ';
    display: table;
    clear: both;
}

.titlebar-minimize,
.titlebar-resize,
.titlebar-close {
    float: left;
    width: 45px;
    height: 32px;
    margin: 0;
    text-align: center;
    line-height: 32px;

    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -ms-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}

.titlebar.draggable .titlebar-minimize,
.titlebar.draggable .titlebar-resize,
.titlebar.draggable .titlebar-close {
    -webkit-app-region: no-drag;
}

.titlebar-minimize svg,
.titlebar-resize svg.maximize-svg,
.titlebar-resize svg.fullscreen-svg,
.titlebar-close svg {
    width: 10px;
    height: 10px;
    shape-rendering: crispEdges;
   
    rect,
    polygon {
        fill: $gray-light;
    }
}

.titlebar-resize{ 

    svg {

        &.fullscreen-svg {
            fill: $gray-light;
        }

        &.maximize-svg {

            > path {
                fill: #bbb;
            }
        }
    }

}


.titlebar-close svg polygon {
    -webkit-transition: fill .2s;
    -moz-transition: fill .2s;
    -ms-transition: fill .2s;
    -o-transition: fill .2s;
    transition: fill .2s;
}

.titlebar:not(.fullscreen) svg.maximize-svg {
    display: none;
}

.titlebar.fullscreen svg.fullscreen-svg {
    display: none;
}

.titlebar-minimize:hover,
.titlebar-resize:hover,
.titlebar-fullscreen:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.titlebar-close:hover {
    background-color: rgba(232, 17, 35, 0.9);
}

.titlebar-close:hover svg polygon {
    fill: rgba(255, 255, 255, 1);
}

.titlebar {
    text-align: center;
    color: #fff;
    line-height: 32px;

    .logo {
        float: left;
        margin: 4px 16px 0 12px;
    }

}

.title-bar {
    height: 6px;
    background-color: $green;
}


/* ------------------------------------*/
/*** SECTIONS
/* ------------------------------------*/

.section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    font-size: 13px;
  
    /* Hide */
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-20px);
    transition: visibility 0s .12s linear , opacity .12s ease-in, transform .12s ease-in;
}
  
.section.is-shown {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition: visibility 0s 0s linear , opacity .36s ease-out, transform .36s ease-out;
}

.materialize-section {
    position: relative;
    visibility: visible;
    opacity: 1;
    margin-left: 21px;
}

/* ------------------------------------*/
/*** NAVBAR
/* ------------------------------------*/

.nav {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    visibility: hidden;
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    z-index: 1;

    h1 {
        position: absolute;
        bottom: 20px;
        width: calc(100% - 48px);
        text-align: center;

        .logo {
            max-width: 150px;
            width: 100%;
        }
    }
  }
  
  .nav.is-shown {
    visibility: visible;
    opacity: 1;
  }
  
    .nav-button {
        display: block;
        width: 100%;
        cursor: pointer;
        outline: none;
        color: $gray;
        display: block;
        padding: 0 12px 0 24px;
        line-height: 56px;
        border: 0;
        background: transparent;
        text-align: left;

        .material-icons {
            color: $green;
        }

        &[disabled] {
            color: $gray-light;
            pointer-events: none;

            .material-icons {
                color: $gray-light;
            }

            &:hover,
            &:active,
            &:focus {
                cursor: auto;
                background-color: inherit;
            }

        }
    }
  
    .nav-button:hover,
    .nav-button:focus:not(.is-selected) {
        background-color: #eee;
    }
  
    .nav-button.is-selected {
        background-color: $green;
    }

    .nav-button.is-selected {
        color: #fff;

        .material-icons {
            color: #fff;
        }
    }

/* ------------------------------------*/
/*** ANIMATIONS
/* ------------------------------------*/

.rotation {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.blink {
    animation: blink 1s infinite;
}

@keyframes blink {
    0%   {opacity: 1;}
    50%  {opacity: 0.1;}
    100% {opacity: 1;}
}

/*-----------------------------*/
/*** List files and folders
/*----------------------------*/

.wrapper-directory {
    color: $gray;

    .header {
        padding: 10px 15px 12px 0;
        border-bottom: 1px solid #ddd;

        li {
            padding-left: 10px;
            float: left;
        }
    }

    ul {
        padding: 0;
        margin: 0;
    }

    .name {
        width: 58%;
    }

    .modified {
        width: 25%;
    }

    .size {
        width: 15%;
    }

    .local,
    .remote {
        width: calc( 50% - 50px );
    }

    .actions {
        width: 100px;
    }

    .hidden-files {
        float: right;
        margin-right: 20px;
        height: 13px;

        span {
            font-size: 13px;
            height: 15px;
            line-height: 15px;
            padding-left: 25px;

            &::after {
                width: 15px !important;
                height: 15px !important;
            }

            &::before {
                top: -1px !important;
                left: 2px !important;
                width: 5px !important;
                height: 10px !important;
            }
        }
        
    }

    &.two-cols {

        .local,
        .remote {
            width: 50%;
        }

        .remote {
            padding-left: 17px;
        }

        .list-files {   

            .local,
            .remote {
                width: 100%;
            }

            .local,
            .remote {
                padding-left: 0;
            }

            &.remote {
                padding-left: 0;
            }

        }
    }
    
}

.list-files {   
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100vh - 118px);

    .icon {
        float: left;
        width: 22px;
        vertical-align: top;
        margin-right: 10px;
        color: $green;

        &.material-icons {
            padding: 0 2px;
        }
    }

    .name,
    .modified,
    .size,
    .status,
    .local,
    .remote,
    .actions {
        float: left;
        vertical-align: top;
        padding-left: 10px;
    }

    .modified,
    .size {
        margin-top: 3px;
    }

    .name,
    .local,
    .remote {

        .directory {
            display: block;
            color: $gray-light;
            font-size: 11px;
        }
    }

    .directory {
        margin: 0;
    
        li {
            height: 47px;
            border-bottom: 1px solid #eee;
            padding-top: 12px;
            line-height: 14px;
            opacity: 1;

            &:last-child {
                border: 0;
            }

            .item-name {
                display: inline-block;
                vertical-align: top;
                margin-top: 3px;
            }

            &.item-select {

                &:hover {
                    background-color: #f7f7f7;
                }
        
                &.selected {
                    background-color: $blue;
    
                    a {
                        color: #fff;
                    }
                }
            }

            &.remove {
                height: 0;
                opacity: 0;
                border-bottom: 0;
                transition: all 0.5s;
            }

            .actions {
                padding-top: 8px;

                a {
                    color: $blue;
                }
    
                .play {
                    display: inline-block;
                }
        
                .pause {
                    display: none;
                }
        
                .playing {
        
                    .play {
                        display: none;
                    }
        
                    .pause {
                        display: inline-block;
                    }
                }

                .material-icons {
                    margin-right: 4px;
                }

            }

            &.not-found {
                border-bottom: 0;

                p {
                    margin-left: 10px;
                    font-style: oblique;
                }
            }

        }

        a {
            color: $gray;
            line-height: 14px;
    
            &:hover {
                cursor: pointer;
                color: #4787f3;
            }
        }
        
    }

    &.two-lines {

        .icon {
            width: 20px;
            margin: 10px 22px 0 12px;

            &.material-icons {
                font-size: 20px;
            }
        }

        .modified,
        .size {
            margin-top: 12px;
        }

        .status {
            margin-top: 8px;
        }

        .directory {
        
            li {
                overflow: hidden;
                opacity: 1;
                height: 64px;

                .item-name {

                    .directory {
                        margin-top: 6px;
                        font-size: 11px;
                    }
                }

                &.deleted {
                    opacity: 0;
                    height: 0;
                    padding: 0;
                    transition: all 1s;
                }
            }
        }
    }

}

/* ------------------------------------*/
/*** WELCOME
/* ------------------------------------*/

.modal-fullscreen {
    width: 100%;
    height: 100vh;
    max-height: none;
    border-radius: 0;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    background-color: hsl(0,0%,98%);
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0s linear , opacity .24s ease-out, transform .24s ease-out;
}

.modal-fullscreen.is-shown {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: visibility 0s 0s linear , opacity .24s ease-out, transform .24s ease-out;
}

.modal-fullscreen.is-shown .modal-wrapper {
    transform: scale(1);
    transition: visibility 0s 0s linear , opacity .24s ease-out, transform .24s ease-out;
}

.modal-wrapper {
    overflow: auto;
    width: 100%;
    transform: scale(1.1);
    transition: visibility 0s .12s linear , opacity .12s ease-in, transform .12s ease-in;
}

.authorization {
    padding: 12px;

    
}

/* ------------------------------------*/
/*** SETTINGS
/* ------------------------------------*/

.settings {
    overflow: auto;
    padding: 0 16px 32px 16px;

    p {
        font-size: 14px;
        color: $gray;
    }

    .authentication {

        .actions {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        H6 {

            .material-icons {
                font-size: 19px;
                color: $blue;
            }
        }
    }

    .google-connect {
        padding: 16px 0;

        .logo {
            width: 50px;
        }
    }

    h5 {

        .material-icons {
            color: $green;
            font-size: 27px;
        }
    }

}

/*-------------------------------------*/
/*** SELECT FOLDERS
/* ------------------------------------*/

.select-folders {

    .list-files {
        float: left;

        .name {
            width: 100%;
        }
    }

    .selected-folders {
        width: calc(100% - 310px);
        padding: 16px 0 16px 10px;
        float: left;

        .local,
        .remote {
            width: 50%;
            float: left;
        }

        h2 {
            margin: 0;
            font-size: 1em;
        }

        .infos,
        .direction {
            float: left;
        }

        .infos {
            width: calc(100% - 50px);
        }

        .direction {
            padding-left: 12px;
        }

        .material-icons {
            color: $green;
            font-size: 27px;
        }
    }
}

/* ------------------------------------*/
/*** LIVE SYNC
/* ------------------------------------*/

.live-sync {
    
    .wrapper-directory {

        .name {
            width: 50%;
        }
    
        .modified {
            width: 25%;
        }
    
        .size {
            width: 15%;
        }

        .status {
            width: 8%;

            .material-icons {
                position: absolute;
                color: $blue;
            }

            .done {
                color: $green;
            }
        }
    }

    footer {

        .upload {
            padding-top: 10px;
            float: left;
            width: calc(100% - 200px);

            p {
                margin: 0 16px;

                &.last-sincronize {
                    margin-top: 10px;
                    color: $gray;
                }
            }
        }
        
    }
}

/* ------------------------------------*/
/*** ABOUT
/* ------------------------------------*/

.about {
    overflow: auto;
    padding: 0 16px 32px 16px;

    a {
        color: $blue;
    }

    p {
        font-size: 14px;
        margin-right: 20px;
        color: $gray;
    }

    .about-lisync {
        padding: 16px 0;

        p {
            margin-top: 4px;
        }
    }

    .acknowledgement {
        padding: 16px 0;

        p {
            margin-left: 16px;
        }
    }
    
    .lisync {
        max-width: 200px;
        width: 100%;
    }

    .others {
        width: 100%;
        max-width: 60px;
        margin: 4px 12px;

        &.materialize {
            margin-top: 20px;
        }

        &.rclone {
            margin-top: 17px;
        }
    }

    .material-icons {
        color: $green;
    }

}

/* ------------------------------------*/
/*** SPLASH SCREEN
/* ------------------------------------*/

.splash-screen {
    background-color: $green;

    .splash-screen-wrapper {
        width: 100%;

        main {
            margin: 0 auto;
            // padding-bottom: 100px;
        }
    }

    .logo {
        max-width: 300px;
        display: block;
        margin: 0 auto;
        // margin-bottom: 30px;
    }
}

#circleG{
	width:90px;
	margin:auto;
}

.circleG{
	background-color:rgb(255,255,255);
	float:left;
	height:15px;
	margin-left:12px;
	width:15px;
	animation-name:bounce_circleG;
		-o-animation-name:bounce_circleG;
		-ms-animation-name:bounce_circleG;
		-webkit-animation-name:bounce_circleG;
		-moz-animation-name:bounce_circleG;
	animation-duration:2.24s;
		-o-animation-duration:2.24s;
		-ms-animation-duration:2.24s;
		-webkit-animation-duration:2.24s;
		-moz-animation-duration:2.24s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	border-radius:20px;
		-o-border-radius:20px;
		-ms-border-radius:20px;
		-webkit-border-radius:20px;
		-moz-border-radius:20px;
}

#circleG_1{
	animation-delay:0.45s;
		-o-animation-delay:0.45s;
		-ms-animation-delay:0.45s;
		-webkit-animation-delay:0.45s;
		-moz-animation-delay:0.45s;
}

#circleG_2{
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#circleG_3{
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

@keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(96,221,77);
	}

	100%{}
}

@-o-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(96,221,77);
	}

	100%{}
}

@-ms-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(96,221,77);
	}

	100%{}
}

@-webkit-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(96,221,77);
	}

	100%{}
}

@-moz-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(96,221,77);
	}

	100%{}
}